// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


//   定義    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
HEADER-COLOR=#17224c
BACKGROUND-COLOR=#FFFFFF

TEXT-COLOR=#17224c
DARK-TEXT-COLOR=#FFFFFF


//   ヘッダー領域    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.header-bar
    background-color HEADER-COLOR !important
    a
        text-decoration none
        color DARK-TEXT-COLOR !important


    .logo
        width 40px
        height auto
        margin 0px 8px 0px 8px


.content-area
    background-color BACKGROUND-COLOR
    background-image url(/img/back.png)
    background-repeat no-repeat
    overflow: scroll
    background-attachment fixed
    background-position right 10px bottom 30px
    overflow-y hidden


@media screen and (min-width:0px) and ( max-width:480px) { 
    .content-area{
        background-size 60% auto
    }
}
@media screen and (min-width:480px) and ( max-width:1024px) {
    .content-area{
        background-size 50% auto
    }
}
@media screen and (min-width:1024px) {
    .content-area{
        background-size 512px auto
    }
}