// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'


//   定義    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
HEADER-COLOR=#17224c
BACKGROUND-COLOR=#FFFFFF

TEXT-COLOR=#17224c
DARK-TEXT-COLOR=#FFFFFF

//  共通    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.content-panel
    width 80%
    margin:20px 0px

.center-area
    margin 0 auto
    
.bg-clear
    background-color: rgba(0,0,0,0.0) !important

h3
    margin-bottom: 10px



table.under_line_table
    border-collapse:collapse
    border-spacing: 0px 0px
    width 100%
    td,th
        border-bottom: 1px solid #17224c
        text-align : left
        margin: 5px
        padding: 5px
    td
        padding: 5px 15px


//   ヘッダー領域    ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.header-bar
    background-color HEADER-COLOR !important
    a
        text-decoration none
        color DARK-TEXT-COLOR !important

    .logo
        width 40px
        height auto
        margin 0px 8px 0px 8px

.header-dummy
    box-shadow: 0px 0px 0px -0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0.0), 0px 0px 0px 0px rgba(0,0,0,0.0);


.content-area
    background-color BACKGROUND-COLOR
    background-image url(/img/back.png)
    background-repeat no-repeat
    overflow: scroll
    background-attachment fixed
    background-position right 10px bottom 30px
    overflow-y hidden


@media screen and (min-width:0px) and ( max-width:480px) { 
    .content-area{
        background-size 60% auto
    }
}
@media screen and (min-width:480px) and ( max-width:1024px) {
    .content-area{
        background-size 50% auto
    }
}
@media screen and (min-width:1024px) {
    .content-area{
        background-size 512px auto
    }
}

//  ブロック   ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.area-block
    // width 80%
    background-color rgba(255,255,255,0.8)
    padding 10px 

.left-line
    border-left 5px HEADER-COLOR solid
    padding 10px 15px

.right-line
    border-right 5px HEADER-COLOR solid
    padding 10px 15px